<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<array>
		<dict>
			<key>title</key>
			<string>NS</string>
			<key>class</key>
			<string>ViewController</string>
			<key>key</key>
			<string>NSList</string>
		</dict>
		<dict>
			<key>title</key>
			<string>UI</string>
			<key>class</key>
			<string>ViewController</string>
			<key>key</key>
			<string>UIList</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Other</string>
			<key>class</key>
			<string>ViewController</string>
			<key>key</key>
			<string>OtherList</string>
		</dict>
	</array>
	<key>NSList</key>
	<array>
		<dict>
			<key>title</key>
			<string>NSData+LTCommon</string>
			<key>class</key>
			<string>NSDataVC</string>
		</dict>
		<dict>
			<key>title</key>
			<string>NSDate+LTFormatter</string>
			<key>class</key>
			<string>NSDateVC</string>
		</dict>
		<dict>
			<key>title</key>
			<string>NSString+LTRex</string>
			<key>class</key>
			<string>NSStringVC</string>
		</dict>
	</array>
	<key>OtherList</key>
	<array>
		<dict>
			<key>title</key>
			<string>LTContactsUIUtil</string>
			<key>class</key>
			<string>ContactsUIUtilVC</string>
		</dict>
		<dict>
			<key>title</key>
			<string>LTContactsUtil</string>
			<key>class</key>
			<string>ContactsUtilVC</string>
		</dict>
		<dict>
			<key>title</key>
			<string>LTInstallProcess</string>
			<key>class</key>
			<string>InstallProcessLV</string>
		</dict>
		<dict>
			<key>title</key>
			<string>LTPickerView</string>
			<key>class</key>
			<string>PickerViewVC</string>
		</dict>
	</array>
	<key>UIList</key>
	<array>
		<dict>
			<key>title</key>
			<string>LTWebView</string>
			<key>class</key>
			<string>LTWebViewVC</string>
		</dict>
		<dict>
			<key>title</key>
			<string>DemoWebViewController</string>
			<key>class</key>
			<string>DemoWebViewController</string>
		</dict>
	</array>
</dict>
</plist>
